@using relmon.Utilities;
@using relmon.Controllers.Admin
@using relmon.Models;
<script>
    $(document).ready(function () {
        refresh();

        //        var end = false;
        //while (!end) {

        //}
        save();
    });

    function save() {
        var allowed = true;
        @{
            int aclId = (int)Session["id"];
            int category = DataBisnisDitGasAdminController.GetCategory(ViewBag.id);
            
            if(category==1){
                if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Ap_KPI.name + ViewBag.id, aclId, "update"))
                {
                    <text>alert("Anda tidak memiliki hak akses untuk melakukan operasi ini.");
                    allowed = false;</text>
                }
            }
            else if(category==2)
            {
                if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Afiliasi_KPI.name + ViewBag.id, aclId, "update"))
                {
                    <text>alert("Anda tidak memiliki hak akses untuk melakukan operasi ini.");
                    allowed = false;</text>
                }
            }
            
        }
        if(allowed){
            var param1 = $("#nkk-hasilakhir").html();
            var param2 = $("#nkp-hasilakhir").html();
            var param3 = $("#nka-hasilakhir").html();
            if (param1 != "" && param2 != "" && param3 != "") {
                var values = {
                    nkk: param1,
                    nkp: param2,
                    nka: param3

                };
                $.post("DataBisnisApAdmin/HitungTingkatKesehatan", values, function (data) {
                    $("#kesehatan-hasil").html(data);
                    var values =
                    {
                        "tahun": '@ViewBag.tahun',
                        "company_id": '@ViewBag.id',
                        "klasifikasi": data
                    }
                    $.post("DataBisnisApAdmin/SaveKesehatan", values, function (data2) {
                        if (data2 == "True") {
                            alert("Data berhasil disimpan");
                        } else {
                            alert("Data tidak berhasil disimpan. Harap memeriksa kembali data yang dimasukkan");
                        }
                    });
                });
                //                end = true;
            }
        }
    }

        function refresh() {
            $.post("DataBisnisApAdmin/GetKinerjaKeuangan/@ViewBag.id", { tahun: '@ViewBag.tahun' }, function (data) {
                $.each(data, function (index, value) {
                    $("#nkk-hasilakhir").html(value.nkk);
                });
            });
            $.post("DataBisnisApAdmin/GetKinerjaPertumbuhan/@ViewBag.id", { tahun: '@ViewBag.tahun' }, function (data) {
                $.each(data, function (index, value) {
                    $("#nkp-hasilakhir").html(value.nkp);
                });
            });
            $.post("DataBisnisApAdmin/GetKinerjaAdministrasi/@ViewBag.id", { tahun: '@ViewBag.tahun' }, function (data) {
                $.each(data, function (index, value) {
                    $("#nka-hasilakhir").html(value.nka);
                });
            });
        }
</script>

<div id ="kinpertumbuhan">

<table>
    <tr>
        <th>Nilai Kinerja Keuangan(NKK)</th>
        <td id="nkk-hasilakhir" style="padding-left:150px;width:100px;"></td>
    </tr>
    <tr>
        <th>Nilai Kinerja Pertumbuhan(NKP)</th>
        <td id="nkp-hasilakhir" style="padding-left:150px;width:100px;"></td>
    </tr>
    <tr>
        <th>Nilai Kinerja Administrasi(NKA)</th>
        <td id="nka-hasilakhir" style="padding-left:150px;width:100px;"></td>
    </tr>
    <tr>
        <th>Klasifikasi Tingkat Kesehatan</th>
        <td id="kesehatan-hasil" style="padding-left:150px;width:100px;"></td>
    </tr>
</table>
<input type="button" value="Refresh" onclick="refresh()"/>
<input type="button" value="Hitung Tingkat Kesehatan" onclick="save()"/>
</div>