@model relmon.Models.bisnis_main
@using relmon.Utilities;
@using relmon.Controllers.Admin
@using relmon.Models;
<h4>Upload Image Struktur Organisasi</h4> 
<hr style="height:1px;border:1px solid #cccdcf;background-color:#bdbec0;" />

<script type="text/javascript">
    function onSuccess(e) {
        var files = e.files;
        if (e.operation == "upload") {
            //save to database
            $.post("DataBisnisApAdmin/UploadStruktur/@ViewBag.id", { filename: files[0].name }, function (data) {
                if (data == "True") {
                    alert("File berhasil di-upload");

                    $.post("DataBisnisApAdmin/GetStruktur/@ViewBag.id", "", function (data) {
                        loadImage('struktur', data);
                    });
                } else {
                    alert("File tidak berhasil di-upload");
                }

            });

        } else if (e.operation == "remove") {
            $.post("DataBisnisApAdmin/DeleteStruktur/@ViewBag.id", "", function (data) {
                if (data == "True") {
                    alert("File berhasil dihapus");
                    $("#frame-content").contents().find('html').html('');
                } else {
                    alert("File tidak berhasil dihapus");
                }
            });
        }
    }
    function onLoad(e) {
        console.log(e);
    }

    function onUpload(e) {
        @{
            int aclId = (int)Session["id"];
            
            int category = DataBisnisDitGasAdminController.GetCategory(ViewBag.id);

                if(category==1){
                    if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Ap_StrukturOrganisasi.name + ViewBag.id, aclId, "update"))
                    {
                        <text>alert("Anda tidak memiliki hak akses untuk melakukan operasi ini.");
                        return false;</text>
                    }
                }
                else if(category==2)
                {
                    if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Afiliasi_StrukturOrganisasi.name + ViewBag.id, aclId, "update"))
                    {
                        <text>alert("Anda tidak memiliki hak akses untuk melakukan operasi ini.");
                        return false;</text>
                    }
                }
            
            }
        // Array with information about the uploaded files
        var files = e.files;

        // Check the extension of each file and abort the upload if it is not .jpg
        if (files[0].extension != ".jpg" && files[0].extension != ".bmp" && files[0].extension != ".png") {
            alert("Only image files can be uploaded")
            e.preventDefault();
            return false;
        }
    }
    function onRemove(e) {
            @{
            int aclId2 = (int)Session["id"];
            
            int category2 = DataBisnisDitGasAdminController.GetCategory(ViewBag.id);

                if(category==1){
                    if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Ap_StrukturOrganisasi.name + ViewBag.id, aclId, "update"))
                    {
                        <text>return false;</text>
                    }
                }
                else if(category==2)
                {
                    if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Afiliasi_StrukturOrganisasi.name + ViewBag.id, aclId, "update"))
                    {
                        <text>return false;</text>
                    }
                }
            
            }
        var r = confirm("Apakah anda yakin?");
        if (r) {
            return true;
        } else {
            e.preventDefault();
            return false;
        }
    }

    $(document).ready(function () {
        if ('@(Model.struktur)' != "") {
            $.post("DataBisnisApAdmin/GetStruktur/@ViewBag.id", "", function (data) {
                 loadImage('struktur', data);
            });
        }

        var $fileList, $files, item, _fn, _i, _len;

        $fileList = $("#existing-files");

        if ($fileList.length > 0) {
            $(".t-upload").append($fileList);
            $files = $(".t-file");
            _fn = function (item) {
                var $item, fileId, filenames;
                $item = $(item);
                fileId = $item.data("att-id");
                filenames = [
                          {
                              name: fileId
                          }
                        ];
                return $item.data("fileNames", filenames);
            };
            for (_i = 0, _len = $files.length; _i < _len; _i++) {
                item = $files[_i];
                _fn(item);
            }
            $fileList.show();
        }

    });
</script>



    

    @(Html.Telerik().Upload()
                .Name("strukturOrg")
        .ClientEvents(events => events
            .OnSuccess("onSuccess")
            .OnLoad("onLoad")
            .OnUpload("onUpload")
            .OnRemove("onRemove")
        )
        .Multiple(false)
        .Async(async => async
                    .Save("Save", "Upload", "attachments", new { dir = "Data Bisnis\\" + Model.company_id + "\\struktur organisasi" })
                            .Remove("Remove", "Upload", new { dir = "Data Bisnis\\" + Model.company_id + "\\struktur organisasi" })
            .AutoUpload(true)
        )
    )
    <div class="controls">
		@{
            if (!string.IsNullOrWhiteSpace(Model.struktur))
            {
                <ul id="existing-files" class="t-upload-files t-reset" style="display: none;"><li class="t-file" data-att-id="@(Model.struktur)"><span class="t-icon t-success">uploaded</span><span class="t-filename" title="@(Model.struktur)">@(Model.struktur)<span class="t-progress"><span class="t-state-selected t-progress-status" style="width: 100%;"></span></span></span><button type="button" class="t-button t-button-icontext t-upload-action"><span class="t-icon t-delete"></span>Remove</button></li></ul>
            }
        }                       
	</div>

<br/>
<img  id="struktur" src="" alt="" style="width: 99%;" />
<br/>