@model IEnumerable<relmon.Models.users_jabatan>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    $(document).ready(function () {
        //        $("#AddRole").appendTo("#hiddenContainer");
        //        $("#EditRole").appendTo("#hiddenContainer");
        $("#company").change(function () {
            if ($('#company').val() != '') {
                $.post(
			        "Role/RoleCompany",
			        {
			            companyId: $('#company').val()
			        },
			        function (data) {
			            hasil = eval(data);
			            $("#AddRole #parent").html('<img src="../../../Content/image/loading.gif" alt="Loading.."/>');
			            $('<option value="0">-- Pilih Parent --</option>').appendTo("#AddRole #parent");
			            for (var i = 0; i < hasil.length; i++) {
			                $("<option value='" + hasil[i]['id'] + "'>" + hasil[i]['nama'] + "</option>").appendTo("#AddRole #parent");
			            }
			            $("#AddRole #cost_centre").html('<img src="../../../Content/image/loading.gif" alt="Loading.."/>');
			            $('<option value="0">-- Pilih Cost Centre --</option>').appendTo("#AddRole #cost_centre");
			            for (var i = 0; i < hasil.length; i++) {
			                $("<option value='" + hasil[i]['id'] + "'>" + hasil[i]['nama'] + "</option>").appendTo("#AddRole #cost_centre");
			            }
			        }
			    );
            }
        });

        $("#edit_company").change(function () {
            if ($('#edit_company').val() != '') {
                $.post(
			    "Role/RoleCompany",
			    {
			        companyId: $('#edit_company').val()
			    },
                function (data) {
                    updateParentCostCentre(data);
                });
            }
        });
    });

    function updateParentCostCentre(data) {
        hasil = eval(data);
        $("#EditRole #edit_parent").html('<img src="../../../Content/image/loading.gif" alt="Loading.."/>');
        $('<option value="0">-- Pilih Parent --</option>').appendTo("#EditRole #edit_parent");
        for (var i = 0; i < hasil.length; i++) {
            $("<option value='" + hasil[i]['id'] + "'>" + hasil[i]['nama'] + "</option>").appendTo("#EditRole #edit_parent");
        }
        $("#EditRole #edit_cost_centre").html('<img src="../../../Content/image/loading.gif" alt="Loading.."/>');
        $('<option value="0">-- Pilih Cost Centre --</option>').appendTo("#EditRole #edit_cost_centre");
        for (var i = 0; i < hasil.length; i++) {
            $("<option value='" + hasil[i]['id'] + "'>" + hasil[i]['nama'] + "</option>").appendTo("#EditRole #edit_cost_centre");
        }
    }

    function OnComplete(e) {
        if (e.name == null) {
            var detailWindow = $("#AddRole").data("tWindow");
            detailWindow.center().open();
        } else {
            if (e.name == "EditRole") {
                var detailWindow = $("#EditRole").data("tWindow");

                jabatan = e.response;

                //masuk2in valuenya dulu
                $.each(jabatan, function (index, value) {
                    $('#EditRole #edit_' + index).val(value);
                });

                //load parent sama cost centre nya
                $.post(
		        "Role/RoleCompany",
		        {
		            companyId: $('#EditRole #edit_company').val()
		        },
                function (data) {
                    updateParentCostCentre(data);

                    //masuk2in ulang valuenya ke parent sama cost centre
                    $.each(jabatan, function (index, value) {
                        $('#EditRole #edit_' + index).val(value);
                    });
                });

                detailWindow.center().open();
            } 
        }
    }

    function SaveRole() {
        if ($('#AddRole #parent').val() == "") {
            alert('Parent belum dipilih');
            return 0;
        }
        else if ($('#AddRole #company').val() == "") {
            alert('Perusahaan belum dipilih');
            return 0;
        }
        else if ($('#AddRole #cost_centre').val() == "") {
            alert('Cost Centre belum dipilih');
            return 0;
        }

        var values =
        {
            "nama": $('#AddRole #nama').val(),
            "parent": $('#AddRole #parent').val(),
            "deskripsi": $('#AddRole #deskripsi').val(),
            "company_id": $('#AddRole #company').val(),
            "golongan": $('#AddRole #golongan').val(),
            "cost_centre": $('#AddRole #cost_centre').val()
        }

        $.post("Role/Create", values, function (data) {
            alert('Data tersimpan');
            var grid = $('#Role').data('tGrid');
            grid.ajaxRequest();
            $("#AddRole").data("tWindow").close();

            $('#AddRole #nama').val('');
            $('#AddRole #parent').val('');
            $('#AddRole #deskripsi').val('');
            $('#AddRole #company').val('');
            $('#AddRole #golongan').val('');
            $('#AddRole #cost_centre').val('');
        });
    }

    function EditRole() {
        if ($('#EditRole #edit_parent').val() == "") {
            alert('Parent belum dipilih');
            return 0;
        }
        else if ($('#EditRole #edit_company').val() == "") {
            alert('Perusahaan belum dipilih');
            return 0;
        }
        else if ($('#EditRole #edit_cost_centre').val() == "") {
            alert('Cost Centre belum dipilih');
            return 0;
        }

        var values =
        {
            "id": $('#EditRole #edit_id').val(),
            "nama": $('#EditRole #edit_nama').val(),
            "parent": $('#EditRole #edit_parent').val(),
            "deskripsi": $('#EditRole #edit_deskripsi').val(),
            "company_id": $('#EditRole #edit_company').val(),
            "golongan": $('#EditRole #edit_golongan').val(),
            "cost_centre": $('#EditRole #edit_cost_centre').val()
        }

        $.post("Role/update", values, function (data) {
            alert('Data tersimpan');
            var grid = $('#Role').data('tGrid');
            grid.ajaxRequest();
            $("#EditRole").data("tWindow").close();
        });
    }

</script>

<h2>Role Management</h2>

@(Html.Telerik().Grid<relmon.Models.users_jabatan>()
        .HtmlAttributes(new { style = "width:695px" })
        .Name("Role")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })
        .ToolBar(commands => commands
            .Custom()
            .HtmlAttributes(new { id = "addRole" })
            .Text("Add Role")
            .Ajax(true)
            .Action("addRole", "Role")
        )
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("_SelectAjaxEditing", "Role")
                .Delete("_DeleteAjaxEditing", "Role");
        })
        .Columns(columns =>
        {
            columns.Bound(o => o.nama).Width(150).Title("Nama");
            columns.Bound(o => o.nama_cost_centre).Width(150).Title("Cost Centre");
            columns.Bound(o => o.nama_parent).Width(150).Title("Atasan");
            columns.Bound(o => o.golongan).Width(150).Title("Golongan");
            columns.Bound(o => o.company2.nama).Width(150).Title("Perusahaan");
            columns.Bound(o => o.deskripsi).Width(150).Title("Deskripsi");
            columns.Command(commands =>
            {
                commands.Delete().ButtonType(GridButtonType.Text);
                commands.Custom("EditRole")
                        .Text("Edit")
                        .DataRouteValues(route => route.Add(o => o.id).RouteKey("id"))
                        .Ajax(true)
                        .Action("GetDetail", "Role");

            }).Width(100).Title("Commands").HtmlAttributes(new { style = "text-align: center" });

        })
        .ClientEvents(
            events => events
                .OnComplete("OnComplete")
        )
        .Pageable(p => p.PageSize(15))
        .Sortable()
        .Filterable()
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Scrollable(c => c.Enabled(true))
        .Selectable()
        .Groupable()
)


<div id='hiddenContainer'>
@(Html.Telerik().Window()
    .Name("AddRole")
    .Visible(false)
    .Title("Add Jabatan")
    .Modal(true)
    .Width(400)
    .Content(@<text>
               <div class="info">
                    <div class="info_inside_left">Nama </div>
		            <div class="infoFieldinput"><input id="nama" type="text" name="nama" value="" /></div>

		            <div class="info_inside_left">Perusahaan</div>
		            <div class="infoFieldinput">                
                          @Html.DropDownList("company")
                    </div>
		
		            <div class="info_inside_left">Parent</div>
		            <div class="infoFieldinput">                
                          @Html.DropDownList("parent")
                    </div>

		            <div class="info_inside_left">Golongan </div>
		            <div class="infoFieldinput"><input id="golongan" type="text" name="golongan" value="" /></div>
                    
		            <div class="info_inside_left">Cost Centre</div>
		            <div class="infoFieldinput">                
                          @Html.DropDownList("cost_centre")
                    </div>

		            <div class="info_inside_left">Deskripsi </div>
		            <div class="infoFieldinput"><input id="deskripsi" type="text" name="deskripsi" value="" /></div>

	            <p class="submit">
		            <input name="Submit" value="Add" type="submit" onclick="SaveRole();" />
	            </p>
	         </div>
        </text>)
)

@(Html.Telerik().Window()
    .Name("EditRole")
    .Visible(false)
    .Title("Edit Jabatan")
    .Modal(true)
    .Width(400)
    .Content(@<text>
               <div class="info">
                    <input id="edit_id" type="hidden" name="id" value="" />

		            <div class="info_inside_left">Nama </div>
		            <div class="infoFieldinput"><input id="edit_nama" type="text" name="nama" value="" /></div>

		            <div class="info_inside_left">Perusahaan</div>
		            <div class="infoFieldinput">                
                          @Html.DropDownList("edit_company")
                    </div>
		
		            <div class="info_inside_left">Parent</div>
		            <div class="infoFieldinput">
                        @Html.DropDownList("edit_parent")
                    </div>

		            <div class="info_inside_left">Golongan </div>
		            <div class="infoFieldinput"><input id="edit_golongan" type="text" name="edit_golongan" value="" /></div>
                    
		            <div class="info_inside_left">Cost Centre</div>
		            <div class="infoFieldinput">                
                          @Html.DropDownList("edit_cost_centre")
                    </div>

		            <div class="info_inside_left">Deskripsi </div>
		            <div class="infoFieldinput"><input id="edit_deskripsi" type="text" name="edit_deskripsi" value="" /></div>

	            <p class="submit">
		            <input name="Submit" value="Save" type="submit" onclick="EditRole();" />
	            </p>
	         </div>
        </text>)
)
</div>