
<script>
    var filename = "";
    var editfilename = "";
    var editId = "";
    //    var deleted_id = "";
    function onSuccess(e) {
        var files = e.files;
        if (e.operation == "upload") {
            filename = files[0].name
        } else if (e.operation == "remove") {
            filename = "";
        }
    }

    function onLoad(e) {
        console.log(e);
    }

    function onRemove(e) {
        var r = confirm("Apakah anda yakin?");
        if (r) {
            return true;
        } else {
            e.preventDefault();
            return false;
        }
    }
    function onClose(e) {

        var values =
            {
                "fileNames": editfilename,
                "dir": "Data Bisnis"
            }
        $.post("Upload/Remove", values, function (data) {

        });
        editfilename = "";
    }

    function OnComplete(e) {

        if (e.name == "EditKinerja") {
            var detailWindow = $("#EditKinerja").data("tWindow");
            vals = e.response;
            $("#tahun2").val(vals.tahun);
            $("#deskripsi2").val(vals.deskripsi);

            filename = vals.content;
            editId = vals.id;
            if (vals.content != "" && vals.content != null) {
                //ada file
                editfilename = vals.content;
                var passing = "\\" + vals.tahun;
                //backup file ny ke folder awal
                var values =
                {
                    "filename": filename,
                    "destDir": "Data Bisnis",
                    "sourceDir": "Data Bisnis\\"+@(Session["company_view"])+"\\Kinerja" + passing

                }
                $.post("Upload/Copy", values, function (data) {

                });

                $("#ifexist").empty();
                $("#lightbox .t-upload .t-upload-files").remove();
                var app = " <ul id='existing-files' class='t-upload-files t-reset' style='display: none;'><li class='t-file' data-att-id='" + vals.content + "'><span class='t-icon t-success'>uploaded</span><span class='t-filename' title='" + vals.content + "'>" + vals.content + "<span class='t-progress'><span class='t-state-selected t-progress-status' style='width: 100%;'></span></span></span><button type='button' class='t-button t-button-icontext t-upload-action'><span class='t-icon t-delete'></span>Remove</button></li></ul>";
                $("#ifexist").append(app);

                var $fileList, $files, item, _fn, _i, _len;
                $fileList = $("#existing-files");
                if ($fileList.length > 0) {
                    $("#lightbox .t-upload").append($fileList);
                    $files = $("#lightbox .t-file");
                    _fn = function (item) {
                        var $item, fileId, filenames;
                        $item = $(item);
                        fileId = $item.data("att-id");
                        filenames = [
                          {
                              name: fileId
                          }
                        ];
                        return $item.data("fileNames", filenames);
                    };
                    for (_i = 0, _len = $files.length; _i < _len; _i++) {
                        item = $files[_i];
                        _fn(item);
                    }
                    $fileList.show();
                }

            } else {
                //ga ad file
                filename = "";
                $("#ifexist").empty();
                $("#lightbox .t-upload #existing-files").remove();
            }
            detailWindow.center().open();


        }
    }

    $("#saveKinerjaAf").click(function () {
        alert('@(Session["company_view"])');
//        var values =
//        {
//            "tahun": document.getElementById("tahun").value,
//            "bulan": document.getElementById("bulan").value,
//            "company_id": @(Session["company_view"]),
//            "deskripsi": document.getElementById("deskripsi").value,
//            "content": filename
//        }

//        $.post("DataBisnisDitGasAdmin/UploadKinerja", values, function (data) {
//            if (data == "true") {
//                alert('Data tersimpan');
//                var grid = $('#Kinerja').data('tGrid');
//                grid.ajaxRequest();
//                resetForm();
//            } else if (data == "false") {
//                alert('Data tidak tersimpan');
//            } else if (data == "exist") {
//                var r = confirm("Kinerja pada tahun tersebut sudah ada. Apakah anda ingin menggantinya?");
//                if (r) {
//                    $.post("DataBisnisDitGasAdmin/UpdateKinerja", values, function (data) {
//                        if (data == "true") {
//                            alert('Data tersimpan');
//                            var grid = $('#Kinerja').data('tGrid');
//                            grid.ajaxRequest();
//                            resetForm();
//                        } else if (data == "false") {
//                            alert('Data tidak tersimpan');
//                        }
//                    });
//                }
//            }

//        });
    });

    function resetForm() {


        if (filename != "") {

            var values =
            {
                "filename": filename,
                "destDir": "Data Bisnis\\"+@(Session["company_view"])+"\\Kinerja\\" + document.getElementById("tahun").value + "\\" + document.getElementById("bulan").value,
                "sourceDir": "Data Bisnis"

            }
            $.post("Upload/Move", values, function (data) {

            });
            filename = "";
        }
        $("#mainupload .t-upload-files").remove();
        $("#deskripsi").val('');
    }

    $("#saveKinerjaAf2").click(function () {
        var values =
        {
            "id": editId,
            "tahun": document.getElementById("tahun2").value,
            "bulan": document.getElementById("bulan2").value,
            "company_id": @(Session["company_view"]),
            "deskripsi": document.getElementById("deskripsi2").value,
            "content": filename
        }
        $.post("DataBisnisDitGasAdmin/UpdateKinerja", values, function (data) {

            if (data == "true") {
                alert('Data tersimpan');
                var grid = $('#Kinerja').data('tGrid');
                grid.ajaxRequest();
                $("#EditKinerja").data("tWindow").close();

                var values =
                {
                    "filename": filename,
                    "destDir": "Data Bisnis\\"+@(Session["company_view"])+"\\Kinerja\\" + $("#tahun2").val() + "\\" + $("#bulan2").val(),
                    "sourceDir": "Data Bisnis"

                }

                $.post("Upload/CleanMove", values, function (data) {

                });
                editId = "";
            } else if (data == "false") {
                alert('Data tidak tersimpan');
            } else if (data == "exist") {
                var r = confirm("Kinerja pada tahun tersebut sudah ada. Apakah anda ingin menggantinya?");
                if (r) {
                    $.post("DataBisnisDitGasAdmin/UpdateKinerja", values, function (data) {
                        if (data == "true") {

                            alert('Data tersimpan');
                            var grid = $('#Kinerja').data('tGrid');
                            grid.ajaxRequest();
                            $("#EditKinerja").data("tWindow").close();

                            var values =
                                {
                                    "filename": filename,
                                    "destDir": "Data Bisnis\\"+@(Session["company_view"])+"\\Kinerja\\" + $("#tahun2").val() + "\\" + $("#bulan2").val(),
                                    "sourceDir": "Data Bisnis"
                                }

                            $.post("Upload/CleanMove", values, function (data) {

                            });
                            editId = "";
                        } else if (data == "false") {
                            alert('Data tidak tersimpan');
                        }
                    });
                }
            }
        });
    });

    $(document).ready(function () {
        alert(@(Session["company_view"]));
        var currentYear = new Date().getFullYear();

        for (var i = 1; i <= 10; i++) {
            $("#tahun").append(
                $("<option></option>")
                .attr("value", currentYear)
                .text(currentYear)
            );
            $("#tahun2").append(
                $("<option></option>")
                .attr("value", currentYear)
                .text(currentYear)
            );
            currentYear--;
        }

    });
</script>
<h3>Pengaturan Kinerja</h3>
<div class="Asearch"><b>Tahun</b></div><div class="titik2"> : </div><div class="Ainput">
    <select name="tahun" id="tahun">

    </select>
    
</div>

<div class="Asearch"><b>File</b></div><div class="titik2"> : </div><div class="Ainput" id="mainupload">
    @(Html.Telerik().Upload()
                .Name("attachmentsKinerja")
        .ClientEvents(events => events
            .OnSuccess("onSuccess")
            .OnLoad("onLoad")
            .OnRemove("onRemove")
        )
        .Multiple(false)
        .Async(async => async
            .Save("Save", "Upload", "attachments", new { dir = "Data Bisnis"})
            .Remove("Remove", "Upload", new { dir = "Data Bisnis" })
            .AutoUpload(true)
        )
        
    )
</div>

<div class="Asearch"><b>Deskripsi</b></div><div class="titik2"> : </div><div class="Ainput">
    <textarea id="deskripsi" rows="10" cols="60"></textarea>
</div>
<p>
	<input type="submit" id="saveKinerjaAf" value="Simpan" />
</p>
<hr/>
<h4>Tabel Kinerjaaa</h4>
@(Html.Telerik().Grid<relmon.Models.bisnis_kpi>()
        .Name("Kinerja")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })  
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("_SelectKinerja", "DataBisnisDitGasAdmin")
                .Delete("_DeleteKinerja", "DataBisnisDitGasAdmin");
        })
        .Columns(columns =>
        {
            columns.Bound(o => o.id).Hidden();
            columns.Bound(o => o.tahun).Width(150).Title("Tahun");
            //columns.Bound(o => o.bulan).Title("Bulan");
            columns.Bound(o => o.deskripsi).Title("Deskripsi");
            columns.Bound(o => o.content).Title("Filename");
            columns.Command(commands =>
            {
                commands.Delete().ButtonType(GridButtonType.Text);
                commands.Custom("EditKinerja")
                        .Text("Edit")
                        .DataRouteValues(route => route.Add(o => o.id).RouteKey("id"))
                        .Ajax(true)
                        .Action("GetKinerja", "DataBisnisDitGasAdmin");

            }).Width(100).Title("Commands").HtmlAttributes(new { style = "text-align: center" });
        })
        .ClientEvents(
            events => events
                .OnComplete("OnComplete")
                //.OnDelete("OnDelete")
        )
        .Pageable(p => p.PageSize(15))
        .Sortable()
        .Filterable()
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Scrollable(c => c.Enabled(true))
        .Selectable()
        .Groupable()
)


@(Html.Telerik().Window()
        .Name("EditKinerja")
    .Visible(false)
    .Title("Edit Kinerja")
    .Modal(true)
    .Width(675)
    .Height(350)
    .Draggable(true)
    .ClientEvents(events=>events.OnClose("onClose"))
    .Content(@<text>
        <div class="Asearch"><b>Tahun</b></div><div class="titik2"> : </div><div class="Ainput">
            <select name="tahun" id="tahun2">

            </select>
    
        </div>
        

        <div class="Asearch"><b>File</b></div><div class="titik2"> : </div><div id="lightbox" class="Ainput" id="editUpload">
            
           @(Html.Telerik().Upload()
                                        .Name("attachmentsKinerja2")
                        .ClientEvents(events => events
                            .OnSuccess("onSuccess")
                            .OnLoad("onLoad")
                        )
                        .Multiple(false)
                        .Async(async => async
                                    .Save("Save", "Upload", "attachments", new { dir = "Data Bisnis"})
                                    .Remove("Remove", "Upload", new { dir = "Data Bisnis"})
                                    .AutoUpload(true)
                        )
                        )
            <div class="controls" id="ifexist"></div>
        </div>

        <div class="Asearch"><b>Deskripsi</b></div><div class="titik2"> : </div><div class="Ainput">
            <textarea id="deskripsi2" rows="10" cols="60"></textarea>
        </div>
        <p>
	        <input type="submit" id="saveKinerjaAf2" value="Simpan" />
        </p>
        </text>)
        )
<br />