@model relmon.Models.bisnis_bussiness_report
@using relmon.Utilities;
@using relmon.Controllers.Admin
@using relmon.Models;
@{
    int aclId = (int)Session["id"];
    int category = DataBisnisDitGasAdminController.GetCategory(ViewBag.id);
}

<script>
    var filename = "";
    function onSuccess(e) {
        var files = e.files;
        if (e.operation == "upload") {
            filename = files[0].name
        } else if (e.operation == "remove") {
            filename = "";
        }
    }

    function onLoad(e) {
        console.log(e);
    }
    
    function onUpload(e) {
        @{
            
                if(category==0){
                    if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_DitGas_BussinessReport.name, aclId, "create")){
                        <text>return false;</text>
                    }
                }else if(category==1){
                    if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Ap_BussinessReport.name + ViewBag.id, aclId, "create"))
                    {
                        <text>return false;</text>
                    }
                }
                else
                {
                    if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Afiliasi_BussinessReport.name + ViewBag.id, aclId, "create"))
                    {
                        <text>return false;</text>
                    }
                }
            
            }
    }

    function onRemove(e) {
        @{
//                if(category==0){
//                    if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_DitGas_BussinessReport.name, aclId, "delete")){
//                        <text>return false;</text>
//                    }
//                }else if(category==1){
//                    if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Ap_BussinessReport.name + ViewBag.id, aclId, "delete"))
//                    {
//                        <text>return false;</text>
//                    }
//                }
//                else
//                {
//                    if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Afiliasi_BussinessReport.name + ViewBag.id, aclId, "delete"))
//                    {
//                        <text>return false;</text>
//                    }
//                }
            
        }
        var r = confirm("Apakah anda yakin?");
        if (r) {
            return true;
        } else {
            e.preventDefault();
            return false;
        }
    }

    function OnDelete(e) {
        
        @{
            if (category == 1)
            {
                if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_DitGas_BussinessReport.name + ViewBag.id, aclId, "delete"))
                {
                    <text>alert("Anda tidak memiliki hak akses untuk melakukan operasi ini.");
                        return false;</text>
                }
            }else if (category == 1)
            {
                if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Ap_BussinessReport.name + ViewBag.id, aclId, "delete"))
                {
                    <text>alert("Anda tidak memiliki hak akses untuk melakukan operasi ini.");
                        return false;</text>
                }
            }
            else if (category == 2)
            {
                if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Afiliasi_BussinessReport.name + ViewBag.id, aclId, "delete"))
                {
                    <text>alert("Anda tidak memiliki hak akses untuk melakukan operasi ini.");
                        return false;</text>
                }
            }
        }
    }

    function OnComplete(e) {
        if (e.name == "EditBusinessReport") {
        @{
            if(category==0){
                    if (ACLHandler.isUserAllowedTo(PageItem.DataBisnis_DitGas_BussinessReport.name, aclId, "update")){
                        <text>
                            var vals = e.response
                            $("#BRcontent").load("DataBisnisDitGasAdmin/BussinessReport/@ViewBag.id?rowId="+vals.id+"&reportType=@ViewBag.type");

                        </text>
                    }else{
                        <text>
                            alert("Anda tidak memiliki hak akses untuk melakukan operasi ini.");
                        </text>
                    }
                }else if(category==1){
                    if (ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Ap_BussinessReport.name + ViewBag.id, aclId, "update"))
                    {
                        <text>
                            var vals = e.response
                            $("#BRcontent").load("DataBisnisDitGasAdmin/BussinessReport/@ViewBag.id?rowId="+vals.id+"&reportType=@ViewBag.type");
                        </text>
                    }else{
                        <text>
                            alert("Anda tidak memiliki hak akses untuk melakukan operasi ini.");
                        </text>
                    }
                }
                else
                {
                    if (ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Afiliasi_BussinessReport.name + ViewBag.id, aclId, "update"))
                    {
                        <text>
                            var vals = e.response
                            $("#BRcontent").load("DataBisnisDitGasAdmin/BussinessReport/@ViewBag.id?rowId="+vals.id+"&reportType=@ViewBag.type");
                        </text>
                    }else{
                        <text>
                            alert("Anda tidak memiliki hak akses untuk melakukan operasi ini.");
                        </text>
                    }
                }
            
            }
            
        }
    }
    $("#saveBussinessDitGas").click(function () {
        var values =
        {
            "tahun": document.getElementById("tahun").value,
            "bulan": document.getElementById("bulan").value,
            "company_id": '@ViewBag.id',
            "deskripsi": document.getElementById("deskripsi").value,
            "content": filename,
            "reportType" : '@ViewBag.type'
        }

            var allowed = true;
            @{
                if (ViewBag.baru != 0)
                    {
                    if(category==0){
                        if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_DitGas_BussinessReport.name, aclId, "create")){
                            <text>alert("Anda tidak memiliki hak akses untuk melakukan operasi ini.");allowed = false;</text>
                        }
                    }else if(category==1){
                        if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Ap_BussinessReport.name + ViewBag.id, aclId, "create"))
                        {
                            <text>alert("Anda tidak memiliki hak akses untuk melakukan operasi ini.");allowed = false;</text>
                        }
                    }
                    else
                    {
                        if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Afiliasi_BussinessReport.name + ViewBag.id, aclId, "create"))
                        {
                            <text>alert("Anda tidak memiliki hak akses untuk melakukan operasi ini.");allowed = false;</text>
                        }
                    }
                }
            }

        if(allowed==true){
            $.post("DataBisnisDitGasAdmin/UploadBussinessReport", values, function (data) {
                if (data == "true") {
                    alert('Data tersimpan');
                    var grid = $('#BisnisReport').data('tGrid');
                    grid.ajaxRequest();
                    if ('@ViewBag.baru' == 1) {
                        var destDir = "Data Bisnis\\" + @(Model.company_id) + "\\Bussiness Report\\" + document.getElementById("tahun").value + "\\" + document.getElementById("bulan").value;
                        var sourceDir = "Data Bisnis\\" + @(Model.company_id) + "\\Bussiness Report\\0";
                        var values =
                        {
                            "filename": filename,
                            "destDir": destDir,
                            "sourceDir": sourceDir

                        }
                        $.post("Upload/Move", values, function (data) { });
                    }

                    resetForm();
                } else if (data == "false") {
                    alert('Data tidak tersimpan');
                } else if (data == "exist") {
                    var r = true;
                    alert("Report pada bulan tersebut sudah ada.");
                        @{
                            if(category==0){
                                if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_DitGas_BussinessReport.name, aclId, "update")){
                                    <text>alert("Anda tidak memiliki hak akses untuk melakukan operasi ini.");r=false;</text>
                                }
                            }else if(category==1){
                                if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Ap_BussinessReport.name + ViewBag.id, aclId, "update"))
                                {
                                    <text>alert("Anda tidak memiliki hak akses untuk melakukan operasi ini.");r=false;</text>
                                }
                            }
                            else
                            {
                                if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Afiliasi_BussinessReport.name + ViewBag.id, aclId, "update"))
                                {
                                    <text>alert("Anda tidak memiliki hak akses untuk melakukan operasi ini.");r=false;</text>
                                }
                            }
                        }
                    if(r!=false){
                        r = confirm("Apakah anda ingin menggantinya?");
                    }
                    if (r) {
                        var values =
                        {
                            "tahun": document.getElementById("tahun").value,
                            "bulan": document.getElementById("bulan").value,
                            "company_id": '@ViewBag.id',
                            "deskripsi": document.getElementById("deskripsi").value,
                            "content": filename,
                            "reportType":'@ViewBag.type'
                        }
                        $.post("DataBisnisDitGasAdmin/UpdateBussinessReport", values, function (data) {
                            if (data == "true") {
                                alert('Data tersimpan');
                                var grid = $('#BisnisReport').data('tGrid');
                                grid.ajaxRequest();
                                if ('@ViewBag.baru' == 1) {
                                    var destDir = "Data Bisnis\\" + @(Model.company_id) + "\\Bussiness Report\\" + document.getElementById("tahun").value + "\\" + document.getElementById("bulan").value;
                                    var sourceDir = "Data Bisnis\\" + @(Model.company_id) + "\\Bussiness Report\\0";
                                    var values =
                                    {
                                        "filename": filename,
                                        "destDir": destDir,
                                        "sourceDir": sourceDir

                                    }
                                    $.post("Upload/Move", values, function (data) { });
                                }
                                resetForm();
                            } else if (data == "false") {
                                alert('Data tidak tersimpan');
                            }
                        });
                    }
                }

            });
        }
    });

    function resetForm() {
        
        if('@ViewBag.type' == 'all'){
            var tabStrip = $("#TabStrip").data("tTabStrip");
            $( "#TabStrip .t-link" ).each(function(index) {
                if($(this).text() == "Bussiness Report"){
                    $("#TabStrip-"+(index+1)).load("DataBisnisDitGasAdmin/BussinessReport/@ViewBag.id?rowId=-1&reportType=@ViewBag.type");
                }
            });
        }else{
            $("#BRcontent").load("DataBisnisDitGasAdmin/BussinessReport/@ViewBag.id?rowId=-1&reportType=@ViewBag.type");
        }
        

//        
    }

    $("#cancelbutton").click(function () {
        resetForm();
    });

    $("#addButton").click(function(){
        $("#addnew").show();
        $(window).scrollTop($("#addnew").offset().top).scrollLeft($("#addnew").offset().left);
    });

    $(document).ready(function () {
        var currentYear = new Date().getFullYear();

        for (var i = 1; i <= 10; i++) {
            $("#tahun").append(
                $("<option></option>")
                .attr("value", currentYear)
                .text(currentYear)
            );
            currentYear--;
        }
        if('@ViewBag.baru' == 0){
            $("#tahun").val('@Model.tahun');
            $("#bulan").val('@Model.bulan');
            $("#deskripsi").val('@Model.deskripsi');
            $('#tahun').attr('disabled', 'disabled');
            $('#bulan').attr('disabled', 'disabled');
            $('#addnew').show();
            filename = '@Model.content';
            $(window).scrollTop($("#addnew").offset().top).scrollLeft($("#addnew").offset().left);
        }
        var $fileList, $files, item, _fn, _i, _len;

        $fileList = $("#existing-files3");

        if ($fileList.length > 0) {
            $("#mainupload .t-upload").append($fileList);
            $files = $(".t-file");
            _fn = function (item) {
                var $item, fileId, filenames;
                $item = $(item);
                fileId = $item.data("att-id");
                filenames = [
                          {
                              name: fileId
                          }
                        ];
                return $item.data("fileNames", filenames);
            };
            for (_i = 0, _len = $files.length; _i < _len; _i++) {
                item = $files[_i];
                _fn(item);
            }
            $fileList.show();
        }
    });
</script>

<h3 style="color:White;">Pengaturan Business Report</h3>

<hr/>
<h4 style="color:White;">Tabel Bisnis Report (@ViewBag.type.Replace("_", " "))</h4>

@(Html.Telerik().Grid<relmon.Models.BisnisBussinessReportContainer>()
        .Name("BisnisReport")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })  
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("_SelectBisnisReport", "DataBisnisDitGasAdmin")
                .Delete("_DeleteBisnisReport", "DataBisnisDitGasAdmin");
        })
        .Columns(columns =>
        {
            columns.Bound(o => o.id).Hidden();
            columns.Bound(o => o.tahun).Width(75).Title("Tahun");
            columns.Bound(o => o.bulan).Title("Bulan");
            columns.Bound(o => o.deskripsi).Title("Deskripsi");
            columns.Bound(o => o.content).Title("Filename");
            columns.Command(commands =>
            {
                commands.Delete().ButtonType(GridButtonType.Text);
                commands.Custom("EditBusinessReport")
                        .Text("Edit")
                        .DataRouteValues(route => route.Add(o => o.id).RouteKey("id"))
                        .Ajax(true)
                        .Action("GetReport", "DataBisnisDitGasAdmin");

            }).Width(100).Title("Commands").HtmlAttributes(new { style = "text-align: center" });
        })
        .ClientEvents(
            events => events
                .OnComplete("OnComplete")
                .OnDelete("OnDelete")
        )
        .Pageable(p => p.PageSize(15))
        .Sortable()
        .Filterable()
        //.Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Scrollable(c => c.Enabled(true))
        .Selectable()
        .Groupable()
)

<button id="addButton">Add new</button>
<hr />
<a name="add"></a>
<div id = "addnew" style="display:none;">
    <div class="Asearch"><b>Tahun</b></div><div class="titik2"> : </div><div class="Ainput">
        <select name="tahun" id="tahun">

        </select>
    
    </div>
    <div class="Asearch"><b>Bulan</b></div><div class="titik2"> : </div><div class="Ainput">
        <select name="bulan" id="bulan">
            <option value="Januari">Januari</option>
            <option value="Februari">Februari</option>
            <option value="Maret">Maret</option>
            <option value="April">April</option>
            <option value="Mei">Mei</option>
            <option value="Juni">Juni</option>
            <option value="Juli">Juli</option>
            <option value="Agustus">Agustus</option>
            <option value="September">September</option>
            <option value="Oktober">Oktober</option>
            <option value="November">November</option>
            <option value="Desember">Desember</option>
        </select>
    </div>

    <div class="Asearch"><b>File</b></div><div class="titik2"> : </div><div class="Ainput" id="mainupload">
        @(Html.Telerik().Upload()
                    .Name("attachmentsBussinessReport")
            .ClientEvents(events => events
                .OnSuccess("onSuccess")
                .OnLoad("onLoad")
                .OnRemove("onRemove")
                //.OnUpload("onUpload")
            )
            .Multiple(false)
            .Async(async => async
                .Save("Save", "Upload", "attachments", new { dir = "Data Bisnis\\"+Model.company_id+"\\Bussiness Report\\"+Model.tahun+"\\"+Model.bulan})
                .Remove("Remove", "Upload", new { dir = "Data Bisnis\\" + Model.company_id + "\\Bussiness Report\\" + Model.tahun + "\\" + Model.bulan })
                .AutoUpload(true)
            )
        
        )
       <div class="controls">
		    @{
                if (!string.IsNullOrWhiteSpace(Model.content)){
                    <ul id="existing-files3" class="t-upload-files t-reset" style="display: none;"><li class="t-file" data-att-id="@(Model.content)"><span class="t-icon t-success">uploaded</span><span class="t-filename" title="@(Model.content)">@(Model.content)<span class="t-progress"><span class="t-state-selected t-progress-status" style="width: 100%;"></span></span></span><button type="button" class="t-button t-button-icontext t-upload-action"><span class="t-icon t-delete"></span>Remove</button></li></ul>
                }
            }                       
	    </div>
    </div>

    <div class="Asearch"><b>Deskripsi</b></div><div class="titik2"> : </div><div class="Ainput">
        <textarea id="deskripsi" rows="10" cols="60"></textarea>
    </div>
    <p>
	    <input type="submit" id="saveBussinessDitGas" value="Simpan" /><input type="button" id="cancelbutton" value="Batal" />
    </p>
</div>