@model relmon.Models.bisnis_kpi
@using relmon.Utilities;
@using relmon.Controllers.Admin
@using relmon.Models;
@{
    int aclId = (int)Session["id"];
    int category = DataBisnisDitGasAdminController.GetCategory(ViewBag.id);
}
<script>
        var filename = "";
        function onSuccess(e) {
            var files = e.files;
            if (e.operation == "upload") {
                filename = files[0].name
            } else if (e.operation == "remove") {
                filename = "";
            }
        }

        function onLoad(e) {
            console.log(e);
        }
        function onUpload(e) {
        @{
            
                if(category==0){
                    if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_DitGas_KPI.name, aclId, "create")){
                        <text>return false;</text>
                    }
                }else if(category==1){
                    if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Ap_KPI.name + ViewBag.id, aclId, "create"))
                    {
                        <text>return false;</text>
                    }
                }
                else
                {
                    if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Afiliasi_KPI.name + ViewBag.id, aclId, "create"))
                    {
                        <text>return false;</text>
                    }
                }
            
            }
    }
        function onRemove(e) {
            @{
            
                if(category==0){
                    if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_DitGas_KPI.name, aclId, "delete")){
                        <text>return false;</text>
                    }
                }else if(category==1){
                    if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Ap_KPI.name + ViewBag.id, aclId, "delete"))
                    {
                        <text>return false;</text>
                    }
                }
                else
                {
                    if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Afiliasi_KPI.name + ViewBag.id, aclId, "delete"))
                    {
                        <text>return false;</text>
                    }
                }
            
            }
            var r = confirm("Apakah anda yakin?");
            if (r) {
                return true;
            } else {
                e.preventDefault();
                return false;
            }
        }

        function OnComplete(e) {
            if (e.name == "EditKinerja") {
                @{
             
                if(category==0){
                    if (ACLHandler.isUserAllowedTo(PageItem.DataBisnis_DitGas_KPI.name, aclId, "update")){
                        <text>
                            var vals = e.response;
                            var tabStrip = $("#TabStrip").data("tTabStrip");
                            $.post("DataBisnisDitGasAdmin/BussinessReport/@ViewBag.id", { rowId: vals.id }, function (data) {
                               $( "#TabStrip .t-link" ).each(function(index) {
                                    if($(this).text() == "KPI"){
                                        $("#TabStrip-"+(index+1)).html(data);
                                    }
                                });
                            });
                        </text>
                    }
                }else if(category==1){
                    if (ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Ap_KPI.name + ViewBag.id, aclId, "update"))
                    {
                        <text>
                            var vals = e.response;
                            var tabStrip = $("#TabStrip").data("tTabStrip");
                            $.post("DataBisnisDitGasAdmin/BussinessReport/@ViewBag.id", { rowId: vals.id }, function (data) {
                                $( "#TabStrip .t-link" ).each(function(index) {
                                    if($(this).text() == "KPI"){
                                        $("#TabStrip-"+(index+1)).html(data);
                                    }
                                });
                            });
                        </text>
                    }
                }
                else
                {
                    if (ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Afiliasi_KPI.name + ViewBag.id, aclId, "update"))
                    {
                        <text>
                            var vals = e.response;
                            var tabStrip = $("#TabStrip").data("tTabStrip");
                            $.post("DataBisnisDitGasAdmin/BussinessReport/@ViewBag.id", { rowId: vals.id }, function (data) {
                                $( "#TabStrip .t-link" ).each(function(index) {
                                    if($(this).text() == "KPI"){
                                        $("#TabStrip-"+(index+1)).html(data);
                                    }
                                });
                            });
                        </text>
                    }
                }
            
                }
            }
        }
        $("#saveKinerjaDitGas").click(function () {
            var values =
            {
                "tahun": document.getElementById("tahun2").value,
                "company_id": '@ViewBag.id',
                "deskripsi": document.getElementById("deskripsi2").value,
                "content": filename
            }
            var allowed = true;
            @{
                if(category==0){
                    if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_DitGas_KPI.name, aclId, "create")){
                        <text>alllowed = false;</text>
                    }
                }else if(category==1){
                    if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Ap_KPI.name + ViewBag.id, aclId, "create"))
                    {
                        <text>alllowed = false;</text>
                    }
                }
                else
                {
                    if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Afiliasi_KPI.name + ViewBag.id, aclId, "create"))
                    {
                        <text>alllowed = false;</text>
                    }
                }
            }

            if(allowed==true){
                $.post("DataBisnisDitGasAdmin/UploadKinerja", values, function (data) {
                    if (data == "true") {
                        alert('Data tersimpan');
                        var grid = $('#KinerjaReport').data('tGrid');
                        grid.ajaxRequest();
                        if ('@ViewBag.baru' == 1) {
                            var destDir = "Data Bisnis\\" + @(Model.company_id) + "\\Kinerja\\" + document.getElementById("tahun").value;
                            var sourceDir = "Data Bisnis\\" + @(Model.company_id) + "\\Kinerja\\0";
                            var values =
                            {
                                "filename": filename,
                                "destDir": destDir,
                                "sourceDir": sourceDir

                            }
                            $.post("Upload/Move", values, function (data) { });
                        }

                        resetForm();
                    } else if (data == "false") {
                        alert('Data tidak tersimpan');
                    } else if (data == "exist") {
                        var r = true;
                      @{
                            if(category==0){
                                if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_DitGas_KPI.name, aclId, "update")){
                                    <text>r=false;</text>
                                }
                            }else if(category==1){
                                if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Ap_KPI.name + ViewBag.id, aclId, "update"))
                                {
                                    <text>r=false;</text>
                                }
                            }
                            else
                            {
                                if (!ACLHandler.isUserAllowedTo(PageItem.DataBisnis_Afiliasi_KPI.name + ViewBag.id, aclId, "update"))
                                {
                                    <text>r=false;</text>
                                }
                            }
                        }
                        r = confirm("Report pada tahun tersebut sudah ada. Apakah anda ingin menggantinya?");
                        if (r) {
                            $.post("DataBisnisDitGasAdmin/UpdateKinerja", values, function (data) {
                                if (data == "true") {
                                    alert('Data tersimpan');
                                    var grid = $('#BisnisReport').data('tGrid');
                                    grid.ajaxRequest();
                                    if ('@ViewBag.baru' == 1) {
                                        var destDir = "Data Bisnis\\" + @(Model.company_id) + "\\Kinerja\\" + document.getElementById("tahun").value;
                                        var sourceDir = "Data Bisnis\\" + @(Model.company_id) + "\\Kinerja\\0";
                                        var values =
                                        {
                                            "filename": filename,
                                            "destDir": destDir,
                                            "sourceDir": sourceDir

                                        }
                                        $.post("Upload/Move", values, function (data) { });
                                    }
                                    resetForm();
                                } else if (data == "false") {
                                    alert('Data tidak tersimpan');
                                }
                            });
                        }
                    }

                });
            }
        });

        function resetForm() {

            var tabStrip = $("#TabStrip").data("tTabStrip");
            $.post("DataBisnisDitGasAdmin/Kinerja/@ViewBag.id", { rowId: -1 }, function (data) {
                $( "#TabStrip .t-link" ).each(function(index) {
                        if($(this).text() == "KPI"){
                            $("#TabStrip-"+(index+1)).html(data);
                        }
                    });
            });
        }

        $("#cancelbutton2").click(function () {
            resetForm();
        });
        $(document).ready(function () {
            var currentYear = new Date().getFullYear();

            for (var i = 1; i <= 10; i++) {
                $("#tahun2").append(
                    $("<option></option>")
                    .attr("value", currentYear)
                    .text(currentYear)
                );
                currentYear--;
            }
            
            if('@ViewBag.baru' == 0){
                $("#tahun2").val('@Model.tahun');
                $("#deskripsi2").val('@Model.deskripsi');
                $('#tahun2').attr('disabled', 'disabled');
            }

            var $fileList, $files, item, _fn, _i, _len;

            $fileList = $("#existing-files4");

            if ($fileList.length > 0) {
                $("#mainupload2 .t-upload").append($fileList);
                $files = $(".t-file");
                _fn = function (item) {
                    var $item, fileId, filenames;
                    $item = $(item);
                    fileId = $item.data("att-id");
                    filenames = [
                              {
                                  name: fileId
                              }
                            ];
                    return $item.data("fileNames", filenames);
                };
                for (_i = 0, _len = $files.length; _i < _len; _i++) {
                    item = $files[_i];
                    _fn(item);
                }
                $fileList.show();
            }
        });
</script>

<h3>Pengaturan Business Report</h3>
<div class="Asearch"><b>Tahun</b></div><div class="titik2"> : </div><div class="Ainput">
    <select name="tahun" id="tahun2">

    </select>
    
</div>

<div class="Asearch"><b>File</b></div><div class="titik2"> : </div><div class="Ainput" id="mainupload2">
    @(Html.Telerik().Upload()
                .Name("attachmentsBussinessReport")
        .ClientEvents(events => events
            .OnSuccess("onSuccess")
            .OnLoad("onLoad")
            .OnRemove("onRemove")
        )
        .Multiple(false)
        .Async(async => async
            .Save("Save", "Upload", "attachments", new { dir = "Data Bisnis\\" + Model.company_id + "\\Kinerja\\" + Model.tahun })
            .Remove("Remove", "Upload", new { dir = "Data Bisnis\\" + Model.company_id + "\\Kinerja\\" + Model.tahun })
            .AutoUpload(true)
        )

    )
   <div class="controls">
		@{
            if (!string.IsNullOrWhiteSpace(Model.content))
            {
                <ul id="existing-files4" class="t-upload-files t-reset" style="display: none;"><li class="t-file" data-att-id="@(Model.content)"><span class="t-icon t-success">uploaded</span><span class="t-filename" title="@(Model.content)">@(Model.content)<span class="t-progress"><span class="t-state-selected t-progress-status" style="width: 100%;"></span></span></span><button type="button" class="t-button t-button-icontext t-upload-action"><span class="t-icon t-delete"></span>Remove</button></li></ul>
            }
        }                    
	</div>
</div>

<div class="Asearch"><b>Deskripsi</b></div><div class="titik2"> : </div><div class="Ainput">
    <textarea id="deskripsi2" rows="10" cols="60"></textarea>
</div>
<p>
	<input type="submit" id="saveKinerjaDitGas" value="Simpan" /><input type="button" id="cancelbutton2" value="Batal" />
</p>
<hr/>
<h4>Tabel Kinerja</h4>
@(Html.Telerik().Grid<relmon.Models.BisnisKPIContainer>()
        .Name("KinerjaReport")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("_SelectKinerja", "DataBisnisDitGasAdmin")
                .Delete("_DeleteKinerja", "DataBisnisDitGasAdmin");
        })
        .Columns(columns =>
        {
            columns.Bound(o => o.id).Hidden();
            columns.Bound(o => o.tahun).Width(150).Title("Tahun");
            columns.Bound(o => o.deskripsi).Title("Deskripsi");
            columns.Bound(o => o.content).Title("Filename");
            columns.Command(commands =>
            {
                commands.Delete().ButtonType(GridButtonType.Text);
                commands.Custom("EditKinerja")
                        .Text("Edit")
                        .DataRouteValues(route => route.Add(o => o.id).RouteKey("id"))
                        .Ajax(true)
                        .Action("GetKinerja", "DataBisnisDitGasAdmin");

            }).Width(100).Title("Commands").HtmlAttributes(new { style = "text-align: center" });
        })
        .ClientEvents(
            events => events
                .OnComplete("OnComplete")
        )
        .Pageable(p => p.PageSize(15))
        .Sortable()
        .Filterable()
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
        .Scrollable(c => c.Enabled(true))
        .Selectable()
        .Groupable()
)